.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.headline {
  max-width: 700px;
  text-align: center;
  color: #fffffe;
  font-size: 52px;
  margin-bottom: 4rem;
}

.mars {
  right: -525px;
  position: absolute;
  z-index: -1;
  filter: drop-shadow(0 0 2em #f25f4c);
  animation: bounce 5s infinite;
}



@keyframes bounce {
  0%, 100% {
    transform: translateY(-1%);
    animation-timing-function: linear;
  }
  50% {
    transform: translateY(1%);
    animation-timing-function: linear;
  }
}
.rover {
  bottom: 20px;
  left: 0;
  height: 300px;
  position: absolute;
  z-index: -1;
  filter: drop-shadow(0 0 2em #646cffaa);
}

.btnLink {
  background-color: #ff8906;
  color: #fffffe;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
}

@media screen and (max-width: 1024px) {
  .rover {
    height: 200px;
  }
}
@media screen and (max-width: 425px) {
  .headline {
    font-size: 42px;
  }
  .rover {
    display: none;
  }
}
